<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.idvos.fastonlineidentification.sdk"
    android:versionCode="1"
    android:versionName="2.0.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.permission.RECORD_AUDIO" />
	<uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />

	<uses-feature android:name="android.hardware.camera" />
	<uses-feature android:name="android.hardware.camera.autofocus" />

    <application>
        
        <activity
            android:name="de.idvos.fastonlineidentification.activity.StartActivity"
            android:label="@string/idvos_app_name"
            android:theme="@style/idvosTheme"
            android:screenOrientation="portrait"/>
       	
        <activity
            android:name="de.idvos.fastonlineidentification.activity.TermsActivity"
            android:label="@string/idvos_terms_label"
            android:theme="@style/idvosTheme"
            android:screenOrientation="portrait"/>
        
        <activity
            android:name="de.idvos.fastonlineidentification.activity.InfoActivity"
            android:label="@string/idvos_info_label"
            android:theme="@style/idvosTheme"
            android:screenOrientation="portrait"/>
        
        <activity
            android:name="de.idvos.fastonlineidentification.activity.LoginActivity"
            android:label="@string/idvos_login_label"
            android:screenOrientation="portrait"
            android:theme="@style/idvosTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        
        <activity
            android:name="de.idvos.fastonlineidentification.activity.IdentificationActivity"
            android:label="@string/idvos_identification_title"
            android:theme="@style/idvosTheme"
            android:screenOrientation="portrait"/>
        <activity
            android:name="de.idvos.fastonlineidentification.activity.SummaryActivity"
            android:label="@string/idvos_identification_summary"
            android:theme="@style/idvosTheme"
            android:screenOrientation="portrait"/>
        
        <activity
            android:name="de.idvos.fastonlineidentification.activity.VerificationResultActivity"
            android:theme="@style/idvosTheme"
            android:screenOrientation="portrait"/>

        <meta-data android:name="com.crashlytics.ApiKey" android:value="970432a83218aa34b35f8ac01d9b2939a963f3d8"/>
        
    </application>

</manifest>
