<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.idvos.fastonlineidentification">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/idvos_app_name"
        android:name=".IdvosApplication">

        <activity
            android:name=".InitialActivity"
            android:label="@string/idvos_app_name">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity android:name=".activity.StartActivity"/>

    </application>

</manifest>
